body{
  background-color: rgb(238, 238, 238);
  margin-top: 110px;
  font-family: system-ui;
}
nav{
  background-color: white;
  color: black;
  width: 100%;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
}
nav > img{
  width: 150px;
}
nav > ul{
  text-decoration: none;
  width: fit-content;
  margin-left: 40%;
  font-size: 20px;
  margin-right: 0;
  padding: 0;
  font-weight: 600;
  cursor: pointer;
}
nav > ul > li{
  display: inline-block;
  padding: 20px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
nav > ul > li:hover{
  color: white;
  background-color: black;
}
.ctnTheme{
  display: grid;
  grid-template: "methode b"
                 "a b"
                 "a c";
                 justify-content: center;
}
.ctnTheme > div{
  margin: 10px;
  box-shadow: 1px 1px 12px #555;
}
.profilCompetence{
  background-color: rgb(31, 31, 31);
  grid-area: a;
  width: 1000px;
  height: 680px;
  overflow-x: hidden;
  padding-right: 20px;
  cursor: pointer;
}
.profilCompetence > div{
  width: auto!important;
}
span{
  padding-left: 10px;
}
h2{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.themeItem{
  list-style-type: none;
  padding: 8px 8px 8px;
  box-shadow: 1px 1px 4px #555;
  margin: 10px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  overflow: hidden;
  position: relative;
  height: 58px;
}
.date-etudie{
  margin-left: 36px;
}
.themeItem:hover{
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.delete{
  color: red;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 20px;
  top: 50%;
}

ul{
  padding-inline-start: 0;
  width: 90%;
  margin: auto;
}
.profilCompetence::-webkit-scrollbar{
  width: 10px;
  background: #000;
}
.profilCompetence::-webkit-scrollbar-thumb{
  background: rgb(243, 243, 243);
}
.themeInteret::-webkit-scrollbar{
  width: 10px;
  background: rgb(243, 243, 243);
}
.themeInteret::-webkit-scrollbar-thumb{
  background: #000;
}
.themeInteret{
  overflow-x: hidden;
  grid-area: b;
  width: 500px;
  height: 385px;
  background-color: white;
}
.recommendation{
  grid-area: c;
  width: 500px;
  height: 385px;
  background-color: white;
}
.methode{
  grid-area: methode;
  background-color: white;
  display: inline-flex;
  text-align: center;
}
.methode > div{
  margin: auto;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  width: 25%;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
.methode > div:hover{
  background-color: black;
  color: white;
}
.methode > div > svg{
  font-size: 35px;
}
h3{
  margin: 0;
  font-weight: 600;
}
.methodeSelect{
  color: white!important;
  background-color: black!important;
}
.methodeItem{
  position: absolute;
  right: 10px;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 20px;
}
.ctn-list-methode{
  position: absolute;
  right: 0px;
  color: black;
  background-color: white;
}
.ctn-list-methode > div {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
.ctn-list-methode > div:hover {
  color: white;
  background-color: black;
}
.ctn-list-methode {
  display: none;
  padding: 0;
}
.ctn-list-methode > div{
  padding:0;
}
.ctn-list-methode > div > svg{
  padding: 5px;
}
.name-item{
  display: inline-block;
  width: 360px;
  height: 21px;
  margin-left: 36px;
  overflow: hidden;
  font-weight: 600;
}
.methodselected2{
  color: white;
  background-color: black;
}
.methodeItem:hover > div {
  display: inline-flex;
}
@media (max-width: 1555px) {
  .ctnTheme{
    grid-template: "methode methode"
                   "a a"
                   "b c";
  }
} 