body{
  background-color: rgb(238, 238, 238);
  margin-top: 120px;
  font-family: system-ui;
}
nav{
  background-color: white;
  color: black;
  width: 100%;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
}
nav > img{
  width: 150px;
}
nav > ul{
  text-decoration: none;
  width: fit-content;
  margin-left: 40%;
  font-size: 20px;
  margin-right: 0;
  padding: 0;
  font-weight: 600;
  cursor: pointer;
}
nav > ul > li{
  display: inline-block;
  padding: 20px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
nav > ul > li:hover{
  color: white;
  background-color: black;
}
.ctnTheme{
  display: grid;
  grid-template: "methode b"
                 "a b"
                 "a c";
                 justify-content: center;
}
.ctnTheme > div{
  margin: 10px;
  box-shadow: 1px 1px 12px #555;
}
.profilCompetence{
  background-color: rgb(31, 31, 31);
  grid-area: a;
  width: 830px;
  height: 680px;
  overflow-x: hidden;
  padding-right: 20px;
  cursor: pointer;
}
span{
  padding-left: 10px;
}
h2{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.themeInteret{
  grid-area: b;
  width: 500px;
  height: 385px;
  background-color: white;
}
.recommendation{
  grid-area: c;
  width: 500px;
  height: 385px;
  background-color: white;
}
.methode{
  grid-area: methode;
  background-color: white;
  display: inline-flex;
  text-align: center;
}
.methode > div{
  margin: auto;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  width: 25%;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
.methode > div:hover{
  background-color: black;
  color: white;
}
.methode > div > svg{
  font-size: 35px;
}
h3{
  margin: 0;
  font-weight: 600;
}
.methodeSelect{
  color: white;
  background-color: black;
}